.item {
    box-shadow: var(--shadow);
    border-radius: var(--round);
    overflow: hidden;
}

.padded>* {
    padding: 8px 16px;
}

.align-center {
    text-align: center;
}

.layout {
    padding: 0;
}

.layout.large .col {
    width: 360px;
}

.layout.left .col {
    float: left;
}

.aligned {
    text-align: right;
    display: inline-block;
}

.aligned label>* {
    margin: 8px 16px;
}

.layout.left.large .content {
    margin-left: 400px;
}

.pad-med {
    padding: 8px 16px;
}

.vertical label {
    margin: 16px;
    text-align: center;
}

.vertical label>span {
    display: block;
}

textarea {
    text-align: left;
    display: block;
    width: 100%;
    resize: vertical;
}

.action {
    display: inline-block;
    border: none;
    padding: 8px 16px;
    margin: 4px 8px;
    text-decoration: none;
    border-radius: 10px;
    background-color: hsl(var(--action-color), var(--action-s), calc(var(--action-l) - 20%));
    color: white;
}

.action:hover {
    border-radius: 10px;
    background-color: hsl(var(--action-color), var(--action-s), var(--action-l));
    cursor: pointer;
    color: white;
}

.error-box {
    color: red;
    padding: 16px 16px;
    margin: 32px;
    background-color: hsl(var(--action-color), var(--action-s), 25%);
    box-shadow: var(--shadow);
}

.field-error {
    border: 1px solid red;
}