.custom-tooltip {
    position: relative;
    display: block;
}

.custom-tooltip .custom-tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: hsla(160, 40%, 55%);
    color: black;
    text-align: center;
    border-radius: 1px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.7s;
}

.custom-tooltip .custom-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}

.custom-tooltip:hover .custom-tooltip-text {
    visibility: visible;
    opacity: 1;
}